# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml

# Build
.gradle/
build/
captures/
.externalNativeBuild/

# Configurações do Android Studio
local.properties

# Logs
*.log

# Arquivos de cache
.cache/
*.apk
*.ap_
*.keystore

# Configuração de Git
.git/
*.orig

# Arquivos de teste
.idea/modules.xml
.idea/workspace.xml

# Outras extensões e arquivos temporários
*.swp
*.swo
*.bak
*.tmp
